@import "tailwindcss";



@theme {
    /* CUSTOM BREAKPOINTS */
    --breakpoint-xs: 30rem;
    --breakpoint-2md: 900px;
    --breakpoint-3md: 60rem;

    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;

    --color-theme-black: hsl(253, 27%, 6%);
    --color-theme-dark: hsl(216, 10%, 10%);
    --color-theme-light: hsl(0, 0%, 100%);

    --color-theme-1: #AC6AFF;
    --color-theme-2: #FFC876;
    --color-theme-3: #FF776F;
    --color-theme-4: #7ADB78;
    --color-theme-5: #858DFF;
    --color-theme-6: #FF98E2;

    --color-hue-1: #FFFFFF;
    --color-hue-2: #CAC6DD;
    --color-hue-3: #ADA8C3;
    --color-hue-4: #757185;
    --color-hue-5: #3F3A52;
    --color-hue-6: #252134;
    --color-hue-7: #15131D;
    --color-hue-8: #0E0C15;
    --color-hue-9: #474060;
    --color-hue-10: #43435C;
    --color-hue-11: #1B1B2E;
    --color-hue-12: #2E2A41;
    --color-hue-13: #6C7275;

    --animate-pulse-expand: pulse-expand 800ms infinite;

    @keyframes pulse-expand {
        to {
            transform: scale(1.8);
            opacity: 0;
        }
    }
}

@layer base {

    /* Webkit Browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color-theme-dark);
    }

    ::-webkit-scrollbar-thumb {
        background-color: hsl(0 0% 100% / 70%);
        border-radius: 5px;
        border: 2px solid oklch(67.65% 0.1539 329.18 / 0.4);
    }

    /* Firefox */
    * {
        scrollbar-color: hsl(0 0% 100% / 70%) var(--color-theme-dark);
        scrollbar-width: thin;
    }
}

@layer components {
    .h1 {
        @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem]
    }

    .body-1 {
        @apply text-[0.875rem] leading-[1.5rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-8;
    }

    .body-2 {
        @apply font-light text-sm leading-6 md:text-base;
    }

    .button {
        @apply font-code text-xs font-bold uppercase tracking-wider;
    }

    .container {
        @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE y Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .z-1 {
        z-index: 1;
    }

    .z-2 {
        z-index: 2;
    }

    .bg-conic-gradient {
        background-image: conic-gradient(from 225deg,
                #FFC876,
                #79FFF7,
                #9F53FF,
                #FF98E2,
                #FFC876);
    }
}

html {
    font-family: var(--font-sora);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    background-color: var(--color-theme-black);
    color: hsl(0 0% 95% / 80%);
}

button {
    cursor: pointer;
}

img {
    object-fit: cover;
}