---
import ButtonGradient from '../assets/svg/ButtonGradient'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'
import { Hero } from '../sections/Hero.tsx'
---

<Layout>
  <div class="overflow-hidden pt-[4.75rem] lg:pt-[5.25rem]">
    <Header />
    <Hero client:load />
  </div>

  <ButtonGradient />
</Layout>
