---
import ButtonGradient from '../assets/svg/ButtonGradient'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'
import Benefits from '../sections/Benefits'
import Collaboration from '../sections/Collaboration'
import { Hero } from '../sections/Hero.tsx'
---

<Layout>
  <div class="overflow-hidden pt-[4.75rem] lg:pt-[5.25rem]">
    <Header client:load />
    <Hero client:load />
    <Benefits />
    <Collaboration />
  </div>

  <ButtonGradient />
</Layout>
