---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Brainwave – AI Chat App for Smarter Conversations</title>

    <!-- Preload fuentes -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap"
      as="style"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap"
      as="style"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap"
      as="style"
    />

    <!-- Importación de fuentes -->
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
